* {
    padding: 0; 
    margin: 0;
    }

    body {
   width: 100%;
   height: 1080%;
    }

    
    header {
    width: 100%;
    height: 110px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    background-color: rgb(219, 207, 40);
    }
    
    .header {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    }
    
    .logo {
    width: 140px;
     height: 100%;
    }

    .logo > img { 
        margin-left: 30%;
    width: 100%; 
    height: 100%;
    }
    .menu
    {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .menu > ul
    {
        list-style: none;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .menu > ul > li
    {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu > ul > li> a{
        text-decoration: none;
        font-family: Arial;
        width: 250px;
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }
    a{
        background-color: rgb(219, 207, 40);
        padding: 0px 25px;
        text-decoration: none;
        color:  rgb(255, 255, 255);
        font: bold 25px Arial;
        font-size: 30px;
        margin-left: -80%;
    }
    a:hover{
            background-color: rgb(255, 255, 255);
            padding: 0px 25px;
            text-decoration: none;
            color: rgb(232, 235, 69);
            font: bold 25px Arial;
            font-size: 30x;
    }
    .imghotel{
        height: 600px;
    }
    .imghotel h2{
        text-align: center;
        margin: 0;
    }
    .img
    {
        display: flex;
        width: 100px;
        height: 200px;
    }
    .imgh img
    {
        width: 30%;
        border-radius: 30px;
        margin-left: 30px;
    }
    .blok2 {
      background:  rgb(31, 135, 161);
      padding-top: -50%;
      border-radius: 10px;
      width: 1250px;
      height: 650px;
      text-align: center;
      margin: auto;
      text-decoration: none;
      font-family: Arial;
      color: white;
      padding-top: 20px;
      padding-left: 20px;
          }
          .blok2 > img {
padding-left: 10px;
          }
          .block3
          {
            background:  rgb(25, 106, 126);
      border-radius: 10px;
      width: 510px;
      height: 310px;
      text-align: center;
      margin:auto;
      text-decoration: none;
      font-family: Arial;
      color: white;
          }
          input
          {
            background-color: rgb(255, 255, 255);
            width: 390px;
            height: 20px;
          }
          option
          {
            background-color: rgb(255, 255, 255);
            width: 390px;
            height: 20px;
          }
          select
          {
            background-color: rgb(255, 255, 255);
            width: 390x;
            height: 23px;
          }
          button
          {
            width: 390x;
            height: 23px;
          }
          .block4
          {
            padding-top: 10%;
            background-image: url(images/1614131786_47-p-fon-s-supergeroyami-marvel-49.jpg);
            height: 810px;
            width: 1518;
          }
          .don
          {
display: flex;
padding-left: 500px;
padding-top: 20px;
          }
          .donate1
          {
            background:  rgb(31, 135, 161);
      border-radius: 10px;
      width: 200px;
      height: 200px;
      text-align: center;
      text-decoration: none;
      font-family: Arial;
      color: white;
      margin: 50px 50px;
          }
          .donate2
          {
            background:  rgb(31, 135, 161);
      border-radius: 10px;
      width: 200px;
      height: 200px;
      text-align: center;
      text-decoration: none;
      font-family: Arial;
      color: white;
      margin: 50px 50px;
          }
          .donate3
          {
            background:  rgb(31, 135, 161);
      border-radius: 10px;
      width: 200px;
      height: 200px;
      text-align: center;
      text-decoration: none;
      font-family: Arial;
      color: white;
      margin: 50px 50px;
          }
          .donate4
          {
            background:  rgb(31, 135, 161);
      border-radius: 10px;
      width: 200px;
      height: 200px;
      text-align: center;
      text-decoration: none;
      font-family: Arial;
      color: white;
      margin: 0px 200px;
          }
          .donate5
          {
            background:  rgb(31, 135, 161);
      border-radius: 10px;
      width: 200px;
      height: 200px;
      text-align: center;
      text-decoration: none;
      font-family: Arial;
      color: white;
      display: flex;
      margin: 0px -100px;
          }
          .j
          {
            background:  rgb(25, 106, 126);
            border-radius: 10px;
            width: 180px;
            height: 180px;
            margin: 10px 10px;
            text-align: center;
            text-decoration: none;
            font-family: Arial;
            color: white;
            font-size: 30px;
          }
          .pass
          {
            background:  rgb(25, 106, 126);
            border-radius: 10px;
            width: 170px;
            height: 100px;
            text-align: center;
            text-decoration: none;
            font-family: Arial;
            color: white;
            font-size: 15px;
          }
